.errors {
  color: red;
}

.placeFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

#PlaceForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  font-size: 15px;
  width: 450px;
}
#PlaceForm input {
  width: 380px;
  height: 18px;
}
#PlaceForm select {
  width: 200px;
  height: 20px;
}
#categorySelect {
  margin-top: 3px;
}
#PlaceForm .placeFormButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#PlaceForm button {
  font-size: 15px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  background-color: #01b636;
  color: white;
}
#PlaceForm .descriptionInputArea {
  height: 40px;
  width: 380px;
  overflow-y: auto;
}

#PlaceForm .inputLabel {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

#PlaceForm #coverPicPlaceInput {
  height: 22px;
}
