.allPinsPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}
.places {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 500px;
}

.placeIndexItem {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 600px;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  color: black;
}

.placeIndexItem h3 {
  font-weight: 700;
}

.placeIndexItem:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.placeRightPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
}
.filters {
  display: flex;
  flex-direction: column;
}

.places img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
.descriptionAllPins {
  height: 50px;
  font-size: small;
  width: 330px;
  overflow-wrap: break-word;
  overflow-y: auto;
}
