/* TODO Add site wide styles */
* {
  font-family: "Asap", sans-serif;
}

button {
  -webkit-filter: brightness(100%);
  cursor: pointer;
}

button:hover {
  -webkit-filter: brightness(90%);
}

a {
  text-decoration: none;
}
