.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  top: 80px;
  right: 180px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 12px;
  z-index: 10;
  gap: 5px;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
}

.profile-dropdown div {
  font-size: 18px;
  padding: 0 10px;
  width: 150px;
  height: 25px;
}

.logoutLine {
  cursor: pointer;
}

.logoutLine:hover {
  background-color: lightgrey;
  font-size: larger;
}

.hidden {
  display: none;
}

.logo {
  height: 45px;
  width: 45px;
}

.navLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 100px;
  top: 0px;
  background-color: white;
}

.logoLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #01b636;
}

.loginSignUpButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
}

.loginSignUpButtons button {
  font-size: 20px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: #01b636;
  color: white;
}

.searchInput {
  height: 35px;
  width: 40%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid rgb(133, 132, 132);
}

.logoutLine {
  font-size: 18px;
  cursor: pointer;
  font-weight: bolder;
  text-shadow: "2px 2px 2px rgba(0, 0, 0, 0.5)";
}

.viewProfileLine {
  cursor: pointer;
  text-shadow: "2px 2px 2px rgba(0, 0, 0, 0.5)";
  font-size: 18px;
  font-weight: bolder;
}

.viewProfileLine:hover {
  background-color: #e3e3e3;
  font-size: larger;
}

.fa-user-circle {
  cursor: pointer;
}

.navButtons {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  align-items: center;
  justify-content: space-around;
}
