.userProfilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userProfilePic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userProfilePic img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.userProfilePic div {
  font-weight: 900;
}

.deleteButtonItem {
  list-style-type: none;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  background-color: #989898;
  border-color: #989898;
}

.updateButtonItem {
  background-color: #3bd16f;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  border-color: #3bd16f;
  list-style-type: none;
}

.userProfileIndexItemPage {
  display: flex;
  flex-direction: column;
}

.userPlaceButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 30px;
}

#placesAndProducts {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  column-gap: 30px;
}

#placesAndProducts .places {
  width: 65%;
}

#placesAndProducts .products {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.productIndexInUserProfile {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.productIndexInUserProfile img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.userProductButtons {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.productInformation {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.toGreen.link {
  color: #01b636;
  font-size: 18px;
  text-decoration: underline;
}
.toChangeSize {
  font-size: 18px;
}
