.userProfilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userProfilePic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userProfilePic img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.userProfilePic div {
  font-weight: 900;
}

.deletePlaceButton {
  list-style-type: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  background-color: #989898;
  border-color: #989898;
}

.updatePlaceButton {
  background-color: #3bd16f;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  border-color: #3bd16f;
}

.userProfileIndexItemPage {
  display: flex;
  flex-direction: row;
}
.userPlaceButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
